@charset'utf-8';
.submit{
    background-color:dodgerblue;
    color:white;
    border:none;
    width: 100px;
    height: 40px;
    font-size: 18px;
    margin-left: 310px;
    margin-bottom: 16px;
    
}
.submit:hover{
    background-color:skyblue;
}
h1{
    text-align: center;
}
.form{
    margin: auto;
    width: 800px;
}
.name{
    padding-left: 33px;
    width: 100%;
}
.message{
    width: 100%;
}
.picture{
    padding-left: 70px;
}
.updata{
    display: inline;
}
form{
    padding-top: 10px;
}
.search{
    background-color: darkorange;
    color: white;
    margin-bottom: 10px;
}
.y{
    margin-left: 300px;
}
.select{
    border-bottom-style: solid;
    width: 100%;
}
.search:hover{
    background-color: gold;
}
ul{
    padding-left: 600px;
    border-top-style: solid;
}
section{
    height: 350px;
    overflow: scroll;
}
.month{
    margin-right: 16px;
}